@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #151531;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth; /* Comportamiento de Desplazamiento: liso */
}

html::-webkit-scrollbar {
    width: 1rem; /* Ancho de la Barra de Desplazamiento */
}

html::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo para la Pista de la Barra de Desplazamiento */
}

/* Estilos para la barra dentro el scrollbar */
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 1rem;
    border-right: 2px solid var(--bg);
}

body {
    background: var(--bg);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}
header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%; /* 7% con respecto al Total del Ancho */
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color); /* Coloca una linea debajo de cada enlace */
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;

    transform: scaleY(0); /* El elemento se reduce a 0 en el eje y */
    transform-origin: top; /* Aparece desde la parte superior */
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color)
}

.header .cart-item-container {
    position: absolute;
    top: 100%; /* Top de 100% del alto del contenedor padre. */
    right: -100%; /* Oculta el elemento desplazandolo*/
    height: calc(100vh - 9.4rem); /* El alto sera todo el alto del View Height menos el alto del Header */
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-item-container.active {
    right: 0;
}

.header .cart-item-container .card-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-item-container .card-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-item-container .card-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-item-container .card-item img {
    height: 7rem;
}

.header .cart-item-container .card-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-item-container .card-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-item-container .btn {
    width: 100%;
    text-align: center;
}

/* Media Queries */
@media (max-width: 991px) {
    html {
        font-size: 55%; /* 1rem = 8.8 px */
    }

    header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        /* right: 0; */
        right: -100%;
        background: #fff;
        width: 30rem; 
        height: calc(100vh - 9.2rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%; /* 1rem = 8px */
    }
}






